<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
        name="simpleJsonLogger"
        type="SimpleJsonLogger.Configuration.SimpleJsonLoggerConfigurationSection, SimpleJsonLogger"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
  </configSections>
  <simpleJsonLogger detailLevelToLog="2" fileName="TestLog.json" logId="Test Logger" logDescription="This is just a typical description." />
</configuration>